* {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.container {
  max-width: 1298px;
  margin: auto;
  padding: 0px 0px;
  z-index: 2;
}


